<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
<test name= "Test cases">
<classes>
<class name = "testNG.DependancisManagemnt"></class>

<class name = "testNG.SkipTestCase"></class>
<class name = "testNG.PrioritySetting"></class>

<class name = "testNG.CrossBrowser"></class>
</classes>
</test>
</suite>	